

body{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(117,111,97,1) 50%, rgba(0,0,0,1) 100%);
}


.titulo{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #F9ECCC;
    padding: 20px 0px;
    
}

.menu{
    font-size: 15px;
    text-align: left;
    list-style-type: none;
    animation-delay: 1s;
} 

.links{
    color:#F9ECCC;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}



.texto{
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 15px;
    text-align: center;
    color: #F9ECCC;

}

.subtitulo{
    font-size: 30px;
    color:#F9ECCC ;
    padding: 20px;
    text-align: center;
}



.box__fotos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.index__fotos{
    margin: 15px 20px;
    border: 5px solid #F9ECCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;  
}

.info{
    color: #F9ECCC ;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

.logo{
    width: 10vh;
}


/* Desktop View */
@media(min-width: 1024px){

    .titulo{
        font-size: 60px;
        padding-top: 60px;
    }


.menu{
    display: flex;
    font-size: 25px;
    list-style-type: none;
    justify-content: space-evenly;
    padding-top: 40px;
}


.links:hover{
    color:#38382c;
    transition: all 0.5 ease;
    -webkit-transition: all 0.5 ease;
    -moz-transition: all 0.5 ease;
    -ms-transition: all 0.5 ease;
    -o-transition: all 0.5 ease;
}

.subtitulo{
    text-align: left;
    margin-left: 60px;
    padding-top: 60px;
    font-size: 40x;
}


.texto{
    font-size: 23px;
    text-align: center;
    padding: 0px;
}



.left{
    display: flex;
    justify-content: flex-start;
}


.index__fotos{
    height: 250px; 

}

.info{
    padding: 100px;
}

}