section{

    p{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    color: $txt;
    }

    h2{
    color: $txt ;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    }

    img{
    margin-bottom: 30px;
    border: 5px solid $txt;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 200px;
    width: 350px;

    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table{
        margin-left: 15px;
        
    }

    iframe{
        width: fit-content;
        padding: 80px;
    }




@media(min-width:1024px){

    p{
    font-size: 23px;
    padding: 30px;
    text-align: center;
    margin-left: 30px;
    }

    h2{
        text-align: left;
        margin-left: 120px;
    }

    img{
    margin: 50px;
    height: 300px;
    width: 500px;
    padding: 0px;
    }

    div{
        display: flex;
        flex-direction: row;
    }


}



}


form{

    fieldset{
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        textarea{
            margin-bottom: 20px;
        }

        .fondo{
            background-color: #848FA5;
        }
    
    }
    
    
    .texto{
        font-family:'Times New Roman', Times, serif;
        font-size: 23px;
        padding: 15px;
        text-align: center;
        color: $txt;
    }
}

@media(min-width:1024px){
form{

    fieldset{
        display: flex;
        flex-direction: column;
        padding: 300px;
        padding-bottom: 20px;
        padding-top: 20px;
        
        textarea{
            margin-bottom: 20px;
        }
    
    }
    
    
    .texto{
        font-family:'Times New Roman', Times, serif;
        font-size: 23px;
        padding: 15px;
        text-align: center;
        color: $txt;
    }
    }
}